{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% for blog in blogs %}

    <div class="media bg-produtos margin" >
        {% if blog.image %}
        <img class="ml-3" src="{{ blog.image.url }}" width="200px" height="200px" alt="{{ blog.name }}">
        {% else %}
        <img class="ml-3" src="{% static 'img/Logo Ju-01.png' %}" width="200px" height="200px" alt="{{ blog.title }}">
        {% endif %}
        <div class="media-body">
            <h5><a>{{ blog.title  }}</a></h5>
            <p>{{ blog.introduction }}</p>
            <p>{{ blog.id }}</p>
        </div>
    </div>

{% endfor %}
{% endblock %}