<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Ju Barradas</title>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" id="menu">
            <a class="navbar-brand" href="#">
                <img src="img/Logo Ju-01.png" width="100" height="100">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                     <li class="nav-item">
                         <a href="#servicos" class="nav-link    ">Serviços</a>
                    </li>
                     <li class="nav-item">
                         <a href="#produtos" class="nav-link">Produtos</a>
                    </li>
                     <li class="nav-item">
                         <a href="#depoimentos" class="nav-link">Depoimentos</a>
                    </li>
                     <li class="nav-item">
                         <a href="#jornada" class="nav-link">Jornada</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <section id="servicos">
            <div class="container-fluid text-center margin bg-servicos">
                <h3 class="margin">Serviços</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 margin">
                            <h5>Consulta</h5>
                            <p>R$170,00</p>
                            <p>1 sessão</p>
                        </div>
                        <div class="col-lg-6 margin">
                            <h5>Mentoria Detox</h5>
                            <p>R$1250,00</p>
                            <p>8 sessões</p>
                        </div>
                        <div class="col-lg-6 margin">
                            <h5>Mentoria Terapeutica</h5>
                            <p>R$620,00</p>
                            <p>5 sessões</p>
                        </div>
                        <div class="col-lg-6">
                            <h5>Yoga</h5>
                            <p>R$100,00 - 1x semana</p>
                            <p>R$150,00 - 2x semana</p>
                            <p>R$180,00 - 3x semana</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="produtos">
            <div class="container-fluid text-center margin bg-produtos">
                <h3 class="margin">Produtos</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="produtos/IMG-20201001-WA0026-removebg-preview.png" width="100%">
                            <button class="btn btn-compra">Comprar</button>
                        </div>
                        <div class="col-lg-2">
                            <img src="produtos/IMG-20201001-WA0028-removebg-preview.png" width="100%">
                            <button class="btn btn-compra">Comprar</button>
                        </div>
                        <div class="col-lg-2">
                            <img src="produtos/IMG-20201001-WA0029-removebg-preview.png" width="100%">
                            <button class="btn btn-compra">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="depoimentos">
            <div class="container-fluid text-center margin bg-depoimentos">
                <h3 class="margin">Depoimentos</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4>Jonas</h4>
                            <h5>Programador</h5>
                            <p>Amo minha namorada e ela manda muito bem no que faz!</p>
                            <img src="img-depoimentos/WIN_20200524_09_59_04_Pro (3).jpg" width="100%">
                        </div>
                        <div class="col-lg-4">
                            <h4>Bruna</h4>
                            <h5>Psicologa</h5>
                            <p>Descrição de depoimento feita por Bruna. teste teste </p>
                            <img src="img-depoimentos/bruna.PNG" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="jornada">
            <div class="container-fluid text-center margin bg-jornada">
                <h3 class="margin">Jornada</h3>
                <img src="img/sobre.PNG" class="rounded-circle" weidth="200px" height="200px">
                <h5 class="margin-smalltitle">Juliana Barradas</h5>
                <h6 class="margin-smalltitle"><b>Experiência no exterior</b></h6>
                <p>Formada em Consultoria de Estilo de Vida Ayurvédico
                    pela Ayurveda College, na Austrália.</p>
                <p>Certificada em Reiki Nível III, 
                    pela Rainbow Lantern, na Austrália.</p>
                
                    <h6 class="margin-smalltitle"><b>De volta ao Brasil</b></h6>
                <p>Após 10 anos de vivência no exterior, regressou
                    ao Brasil trabalhando como Terapeuta e Educadora
                    na Escola de Ayurveda, levando seu conhecimento
                    para vários Estados brasileiros</p>
                <p>Fez curso de Aromaterapia - Base para práticas,
                    pela Vishwa Aroma.</p>
                <p>Cursou Numerologia Tântrica com o professor
                    e Instrutor de Yoga Akal Muret Singh;</p>
                <p>Fez formação em Coaching Ontológico,
                    Com o método IKIGAI, pelo Instituto Próspera.</p>
                <h6 class="margin-smalltitle"><b>Atualmente:</b></h6>
                <p> Estuda Tantra Yoga no Curso de Formação
                    de Instrutores, na Escola Anadam Yoga e Cultura
                    Terapeuta Holística, com base em Ayurveda e Yoga.
                    Ministra cursos e workshops com foco na saúde, 
                    bem-estar, prevenção de doenças e autoconhecimento.</p>
            </div>
        </section>
        <footer class="container-fluid bg-footer text-center">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                         <li class="nav-item">
                             <a href="https://www.instagram.com/jubarradas_/" class="nav-link">Instagram</a>
                        </li>
                         <li class="nav-item">
                             <a href="https://api.whatsapp.com/send?phone=555181658157&text=sua%20mensagem" class="nav-link">Whatsapp</a>
                        </li>
                         <li class="nav-item">
                             <a href="malito:jubarradas@gmail.com?subject=Site" title="" class="nav-link">jubarradas@gmail.com</a>
                        </li>
                    </ul>
                    <p class="nav-item">Desenvolvido por Jonas Silva</p>
                </div>
            </nav>
        </footer>
    </body>
</html>